body {
    font-family: $text-font-stack;
    line-height: 20px;
}

.title {
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    @include respond-to("screen-xs") {
        font-size: 24px;
    }
}

.carousel-content {
    padding-left: 100px;
    padding-right: 100px;
    @include respond-to("screen-xs") {
        padding-left: 0;
        padding-right: 0;
        text-align: justify !important;
    }
    @include respond-to("screen-sm") {
        padding-left: 0;
        padding-right: 0;
    }
}

.title-content {
    text-align: center;
    font-weight: 300;
    color: #656565;
    @include respond-to("screen-xs") {
        font-size: 14px;
    }
}

.contact-title {
    @include respond-to("screen-xs") {
        font-size: 24px;
    }
}

.inner-title {
    font-weight: 400;
    @include respond-to("screen-xs") {
        font-size: 22px;
    }
}

.inner-content {
    font-weight: 300;
    @include respond-to("screen-xs") {
        font-size: 14px;
    }
}

.title-signup {
    font-weight: 400;
    font-size: 24px;
    color: #656565;
    @include respond-to("screen-xs") {
        text-align: center;
        font-size: 18px;
    }
}

.inner-content-signup {
    font-weight: 200;
    font-size: 18px;
    color: #656565;
    @include respond-to("screen-xs") {
        text-align: center;
        font-size: 13px;
    }
    @include respond-to("screen-sm") {
        text-align: left;
        font-size: 16px;
    }
}

.contact-us-holder {
    form {
        h3 {
            @include respond-to("screen-xs") {
                font-size: 18px;
            }
        }
    }
}

.about-content {
    .about-title {
        font-weight: 600;
        text-align: left;
        @include respond-to("screen-xs") {
            font-size: 24px;
        }
    }
    .content {
        padding-top: 20px;
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
        @include respond-to("screen-xs") {
            font-size: 14px;
        }
    }
}

.about-team {
    .about-team-title {
        margin-bottom: 40px;
        color: white;
        font-weight: 600;
        text-align: left;
        @include respond-to("screen-xs") {
            text-align: center;
            font-size: 24px;
        }
    }
}