header {
    @include respond-to(screen-xs) {
        height: 50px;
    }
    li.active {
        color: #ffa800;
    }
    .offcanvas.in {
        width: 50%;
        background-color: #424242;
        ul {
            padding: 0;
            list-style: none;
            li {
                &:first-of-type {
                    padding: 40px 0;
                }
                &.active {
                    a {
                        color: #ffa800;
                    }
                }
                padding: 15px 0;
                @include on-event {
                    background-color: black;
                    color: #ffa800;
                }
                a {
                    font-size: 17px;
                    color: white;
                    @include on-event {
                        text-decoration: none;
                        color: #ffa800;
                    }
                    @include respond-to("screen-xs") {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .navbar {
        margin-top: 5px;
        margin-bottom: 0;
        .navbar-toggle {
            span {
                background: #ffa800;
                border: none;
                height: 3px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: all .35s ease;
                cursor: pointer;
                &:nth-of-type(2) {
                    top: 5px;
                }
                &:nth-of-type(3) {
                    top: 11px;
                }
                &:nth-of-type(4) {
                    top: 17px;
                }
            }
            &.active {
                .top {
                    transform: translateY(6px) translateX(0) rotate(45deg);
                    background: #ffa800;
                }
                .middle {
                    opacity: 0;
                    background: #ffa800;
                }
                .bottom {
                    transform: translateY(-6px) translateX(0) rotate(-45deg);
                    background: #ffa800;
                }
            }
            // .icon-bar {
            //     background-color: #ffa800;
            // }
        }
        .nav {
            li {
                a {
                    color: #A5A5A5;
                    transition: 0.3s ease-in-out;
                    border-radius: 10px;
                    @include on-event {
                        background-color: white;
                        color: #ffa800;
                    }
                }
                &.sign-up {
                    background-color: #FFCF76;
                    border-radius: 10px;
                    a {
                        color: black;
                        @include on-event {
                            background-color: #E29404 !important;
                        }
                    }
                }
                &.log-in {
                    a {
                        color: black
                    }
                }
                &.active {
                    a {
                        color: #ffa800;
                    }
                }
            }
            .open {
                a {
                    &.focus {
                        background-color: white;
                        color: #A5A5A5;
                    }
                    &.active {
                        background-color: white;
                        color: #A5A5A5;
                    }
                }
            }
        }
    }
    form {
        .modal {
            .modal-dialog {
                display: table;
                .modal-content {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 40px 115px;
                    height: 70vh;
                    @include respond-to("screen-xs") {
                        padding: 5px 5px;
                    }
                    .close {
                        position: absolute;
                        top: 10px;
                        right: 20px;
                    }
                    .input-group {
                        margin: auto;
                        input {
                            margin-bottom: 10px;
                        }
                    }
                    .login {
                        margin-top: 10px;
                        background-color: #ffa800;
                    }
                }
            }
        }
    }
}