.project-canvas {
    padding: 40px 0;
    .canvas {
        display: table;
        margin: auto;
        width: 1024px;
        height: 768px;
        border: 1px solid gray;
        overflow: hidden;
        @include respond-to("screen-xs") {
            height: 420px;
        }
        .circle {
            position: absolute;
            display: none;
            width: 200px;
            height: 200px;
            border: 2px dashed #ffa800;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            .display-table {
                margin-top: -20px;
                .area {
                    .areaValue {
                        color: white;
                        z-index: 999;
                    }
                }
            }
            .ui-icon-gripsmall-diagonal-se {
                background-color: #8d5d00;
            }
        }
        .rectangle {
            position: absolute;
            display: none;
            width: 200px;
            height: 200px;
            border: 2px dashed #ffa800;
            background-color: rgba(0, 0, 0, 0.5);
            .display-table {
                .area {
                    .areaValue {
                        color: white;
                        z-index: 999;
                    }
                }
            }
            .ui-icon-gripsmall-diagonal-se {
                background-color: #8d5d00;
            }
        }
        .line {
            position: absolute;
            display: none;
            width: 10px;
            left: 20px;
            height: 200px;
            background-color: #ffa800;
            .lineHeight {
                position: absolute;
                margin-left: -50px;
                color: white;
                z-index: 999;
                span {
                    padding: 0 2px;
                    background-color: rgb(31, 31, 31);
                }
            }
            .lineWidth {
                position: absolute;
                bottom: -15px;
                color: white;
                z-index: 999;
                span {
                    padding: 0 2px;
                    background-color: rgb(31, 31, 31);
                }
            }
            .ui-icon-gripsmall-diagonal-se {
                display: none !important;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
        .centered {
            display: table-cell;
            position: relative;
            vertical-align: middle;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);
            @include on-event {
                background-color: rgba(0, 0, 0, 0.7);
            }
            p {
                position: absolute;
                width: 100%;
                z-index: -9999;
            }
            img {
                display: none;
            }
        }
    }
    .control-holder {
        top: 10px;
        left: 10px;
        max-width: 60px;
        .elevation {
            position: absolute;
            margin-left: 58px;
            margin-top: 10px;
            input {
                display: inline-block;
                max-width: 100px;
            }
            span {
                display: inline-block;
                margin-right: 5px;
            }
        }
        ul {
            position: relative;
            bottom: 389px;
            left: 10px;
            padding: 0;
            text-align: center;
            display: inline-block;
            li {
                overflow: hidden;
                background-color: #F4F4F4;
                @include on-event {
                    cursor: pointer;
                    background-color: lightgray;
                }
                a {
                    color: black;
                }
            }
        }
    }
}

.project-thumbnail {
    padding: 0 0 40px 0;
    margin-top: -389px;
    .previewImage {
        opacity: 0;
        margin: auto;
        text-align: center !important;
        canvas {
            display: table !important;
            margin: auto !important;
            width: 60% !important;
        }
    }
    .uploadBtn-holder {
        label {
            margin-bottom: 20px;
            padding: 10px;
            background-color: #ffa800;
            color: black !important;
            border: none;
            font-size: 14px !important;
            font-weight: 400;
            @include on-event {
                cursor: pointer;
                background-color: #DA8F05;
            }
        }
    }
    .uploaded-holder {
        margin-bottom: 10px;
        box-shadow: 2px 3px 15px gray;
        .img-holder {
            position: relative;
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: 0.3s;
            }
            img {
                width: 100%;
                height: 200px;
            }
        }
        button {
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            &.openImg {
                background-color: #ffa800;
            }
            &.closeImg {
                background-color: #D08B06;
                color: white;
            }
        }
    }
}